:root{
    --brand-font: 'Lexend',sans-serif;
    --brand-text-color: #D5BDAF;
}
@media (max-width: 900px) {
.first-p-p {
    display: none;
    background-image: url('https: //my-bucket-1008.s3.amazonaws.com/Pole.png');
}
}
body{
font-family: var(--brand-font);
color: var(--brand-text-color);
height: 100%;
background-color: #010000;

}
.container{
min-width: 100%;
min-height: 100%;
}

.mar-pad-zero{
margin: 0;
padding: 0;
}
.center{
    text-align: center;
}
.color {
background-color:#010000;
}
.nav-item a, .navbar-toggler-icon{
    color: var(--brand-text-color) ;
    font-size: 30px;
    font-weight: 600;
    
}
.nav-item a:hover, .fa-brands:hover {
    color: #921D0F;

}
.red{
color: #921D0F;
}
.navbar-toggler-icon {
        filter: contrast(0%);
        -webkit-filter: contrast(0%);
    }
    .navbar{
    padding: 0 50px 0 50px;
    
    }
    .nav-item{
    padding: 0 25px 0 0;
    }

      .first-p{
        margin-top: 50px;
        font-size: 32px;
        line-height: 1.4;
        padding: 0 25px;
        font-weight: 600;
        
    }
    .first-p-2{
        margin-top: 200px;
        font-size: 38px;
        line-height: 1.5;
        font-weight: 600;
        padding: 0 25px;
    }
    .button{
        color:var(--brand-text-color);
        background-color: #921D0F;
        padding: 22px 30px;
        border-radius: 10px; 
        text-decoration: none;
        font-weight: 600;
        font-size: 25px;
        line-height: 20px;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);           
        
    }
    .button:hover {
    color: whitesmoke;
    
    }

    .container-button{
        margin: 60px;
    }
    .icon{
        font-size: 30px;
        padding-bottom: 30px;
    }
    .fa-brands{ 
    color: var(--brand-text-color);
}
/*div{
    border: 1px solid white;
}*/
.padding-20{
    padding: 20px;
}
.padding-20-50{
padding: 20px 80px; 
}
.p-about{
  font-size: 28px;
  line-height: 1.4;
}
.p-about-bold {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
}


    